#overallDiv {
    display: flex;
}

#text {
    flex: 0;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

#leftDiv, #midDiv, #rightDiv {
    flex: 1;
    border: 5px solid black;
    height: 500px;
    width: 33%;
    padding: 2px;
    margin: 2.5px;
}

input[type='checkbox'] {
    transform: scale(1.38);
    margin: 15px;
}

label {
    font-size: 150%;
    margin: 5px;
    margin-left: -2.5px;
}

#submitButton {
    text-align: center;
}

button {
    width: 115px;
    height: 55px;
    border-radius: 5px;
    border: 2.5px solid black;
    margin-top: 10px;
    font-size: 24px;
}

button:hover {
    width: 115px;
    height: 55px;
    border-radius: 5px;
    border: 2.5px solid black;
    margin-top: 10px;
    font-size: 24px;
    background-color:#c8bdbd90;
}

#leftPanel {
    float: left;
    text-align: center;
}

#rightPanel {
    float: right;
}

#about, #aboutMe {
    text-align: left;
    margin-left: 15px;
}